/* GLOBAL */
* {
    margin: 0;
    overflow-x: hidden;
    font-family: 'Roboto', sans-serif;
}

html, body {
    height: 100%;
}

.container {
    max-width: 100%;
}

.h1 {
    overflow-y: hidden;
}

/* SCROLLBAR */
::-webkit-scrollbar {
    width: 10px;
    height: 20%;
}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 3px grey; 
    background: #f1f1f1; 
}

::-webkit-scrollbar-thumb {
    background: #888; 
}

::-webkit-scrollbar-thumb:hover {
    background: #555; 
}

/* HEADER */
.navbar {
    height: 80px;
    word-spacing: 10px;
}

.navbar img {
    height: 50px;
}

.login {
    font-size: 20px;
}

/* SIDEBAR */
.nav .nav-link {
    padding-left: 20px;
    color: black;
}

.nav .nav-link:hover {
    color: gray;
}

.nav .active {
    background-color: gray;
    color: white;
}

.nav .active:hover {
    color: lightgray;
}

/* BODY */
.body {
    background-color: lightgray;
    min-height: 90vh;
    margin-right: 0;
    padding-bottom: 20px;
}

.menu {
    padding-right: 0;
}

.content {
    background-color: white;
    min-height: 80vh;
    padding-bottom: 20px;
}

tbody tr {
    transition: background-color .2s linear;
}

/* MAP */
.airportMarker {
    color: navy;
    stroke: lightblue;
    stroke-width: 6%;
    width: 14px;
    height: 14px;
}

.planeMarker {
    color: yellow;
    stroke: black;
    stroke-width: 6%;
}

.planeGroundMarker {
    color: rgb(55, 177, 55);
    stroke: black;
    stroke-width: 6%;
}

.planeMarker:hover,
.planeGroundMarker,
.airportMarker:hover {
    cursor: pointer;
}

.fullscreenStyle {
    position: absolute;
    top: 0;
    right: 0;
    margin: 80px 10px;
}

.navStyle {
    position: absolute;
    top: 1;
    right: 0;
    margin: 10px 10px;
}

.fa-3x, .pilotInfo img {
    height: 50px !important;
    width: 50px !important;
    color: black;
}

.mapboxgl-popup-content {
    font-size: 12px !important;
    padding: 2px 4px !important;    
}

/* PILOT INFO */
.pilotInfo {
    position: absolute;
    top: 97px;
    right: 0;
    width: 350px;
    height: 70%;
    background-color: lightcyan;
    border-top: 1px solid black;
    border-left: 1px solid black;
    border-bottom: 1px solid black;
    border-radius: 10px 0 0 10px;
    text-align: center;
}

.pilotInfo:hover {
    cursor: default;
}

.pilotInfo .h2 {
    padding: 10px 10px 0 10px;
    margin-bottom: 0;
}

.pilotInfo h5.section {
    background-color: lightblue;
    padding: 3px 0;
    margin-bottom: 0;
}

.pilotInfo .dep_arr {
    background-color: lightgray;
    min-height: 65px;
}

.pilotInfo .progressBar {
    margin: 5px;
}

.pilotInfo h4 {
    margin: 8px 0 0 0;
}

.pilotInfo h6 {
    margin-top: 0;
    margin-bottom: 0;
}

.pilotInfo .col-3 {
    position: absolute;
    left: 130px;
    z-index: 1;
}

/* FOOTER */
footer {
    bottom: 0;
    width: 100%;
    position: fixed;
    z-index: 1;
}